body{ 
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(47, 21, 88), rgb(39, 10, 63));
}
.box{
    color:white;
    position: absolute;
    top: 10%;
    left: 33%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 35%;
    
}
 fieldset {
        border: 3px solid rgb(116, 30, 255); 
 }
  legend {
        border: 1px solid rgb(116, 30, 255);
        padding: 10px;
        text-align: center; 
        background-color: rgb(116, 30, 255);
        border-radius: 5px;
        color:white;
  }
  .inputBox{ 
            position: relative;
  }
  .inputUser{
            background: none;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
            font-size: 15px;
            width: 435px;
            letter-spacing: 2px;
  }
  .labelInput{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            position: .5s;
  }
  .inputUser:focus ~ .labelInput,
  .inputUser:valid ~ .labelInput {
                                top: -35px;
                                font-size: 12px;
                                color: dodgerblue;
  }
  #data_nascimento{
                    border: none;
                    padding: 6px;
                    border-radius: 10px;
                    outline: none;
                    font-size: 15px;
                    

    }
    #submit {
        background-image: linear-gradient(to right, rgb(20,47, 220), rgb(17, 54, 71));
        width: 30%;
        border: none;
        padding: 10px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        border-radius: 10px;

    }
    #limpar{
        background-image: linear-gradient(to right, rgb(20,47, 220), rgb(17, 54, 71));
        width: 30%;
        border: none;
        padding: 10px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        border-radius: 10px;
    }
    #submit:hover{
        background-image: linear-gradient(to right, rgb(18, 31, 116), rgb(84, 40, 116));
    }
    #limpar:hover{
        background-image: linear-gradient(to right, rgb(18, 31, 116),rgb(84, 40, 116));
    }